.todo__animation-enter{
  opacity: 0;
  padding: 0px;
  height: 0px;
}
.todo__animation-enter-active {
  transition: all .2s ease-out;
  padding: 20px 5px;
  height: auto;
  opacity: 1;
}
.todo__animation-leave {
  padding: 20px 5px;
  overflow: hidden;
  height: auto;
}
.todo__animation-leave-active{
  transition: all .2s ease-out;
  opacity: 0;
  padding: 0px;
  height: 0px;
}



.todo--expanded-state {
  transition: transform 218ms ease-out;
  border-radius: 5px;
  position: fixed;
  z-index: 2;
  width: 50%;
  overflow: visible;
    .todo__actions {
      transition: opacity 218ms ease-out;
      visibility: visible;
      opacity: 1;
    }
    &:last-child {
      border-radius: 5px;
    }
}
