%todo-default-style {
  box-sizing: border-box;
  background-color: rgb(255, 255, 255);
  border-radius: 0px 0px 5px 5px;
  height: auto;
  border-top: 1px solid rgb(167, 167, 167);
}

.todo-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 50%;
  margin: 0 auto;
  min-height: 61px;
  @extend %todo-default-style;
  .todo-list__empty-message {
      font-size: 1em;
      color: #adadad;
      margin: 0;
      padding: 20px 5px;
  }
  .todo-list__todo {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    transition: opacity 0.2s ease-out, height 0.2s ease-out, padding 0.2s ease-out;
    width: 100%;
    padding: 20px 5px;
    overflow: hidden;
    border-top: 1px solid rgb(167, 167, 167);
    opacity: 1;
    @extend %todo-default-style;
    .todo-list__todo--text {
      //width: 75%;
      flex-grow: 2;
      overflow: hidden;
      margin: 0;
      padding: 0;
      font-size: 1em;
      color: #737373;
      font-size: 16px;
    }
    &:first-child {
      border-top: none;
    }
    &:last-child {
      border-radius: 0px 0px 5px 5px;
    }
    .todo-actions {
      margin-left: -5px;
      display: flex;
      flex-wrap: nowrap;
      .todo-actions__button {
        padding: 0px 10px;
        background: none;
        border: none;
        margin-left: 5px;
        .todo-actions__icon {
          font-size: 20px;
        }
      }
    }
  }
  .todo-list__todo--initial-state {
    min-height: 0px;
    opacity: 0;
    padding: 0px;
    height: 0px;
  }
}
