.todo-list {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 50%;
    margin: 0 auto;
  .todo-list__todo {
    transition: opacity 0.2s ease-out, height 0.2s ease-out, padding 0.2s ease-out;
    width: 100%;
    box-sizing: border-box;
    padding: 20px 5px;
    height: auto;
    background-color: rgb(255, 255, 255);
    border-top: 1px solid rgb(167, 167, 167);
    overflow: hidden;
    opacity: 1;
    .todo-list__todo--text {
      margin: 0;
      padding: 0;
      color: black;
      font-family: 'sans-serif';
      font-size: 16px;
    }
    &:last-child {
      border-radius: 0px 0px 5px 5px;
    }
  }
  .todo-list__todo--initial-state {
    opacity: 0;
    padding: 0px;
    height: 0px;
  }
}
