@import "colors";

body {
    background: $blue;
    font-family: sans-serif;
    padding: 0;
    margin: 0;
  }

.text-shadow {
  text-shadow: 1px 1px black;
}

.header {
  width: 100%;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: flex-end;
  height: 300px;
  background: rgb(93, 192, 255);
  h1 {
    @extend .text-shadow;
    text-transform: uppercase;
    color: white;
    margin: 0px;
  }
  p {
    @extend .text-shadow;
    color: white;
    margin-bottom: 50px;
  }
}
.header-wrapper {
  display: flex;
  justify-content: center;
  position: relative;
  .add-bar {
    width: 50%;
    display: flex;
    flex-wrap: nowrap;
    position: absolute;
    bottom: 0;
    transform: translateY(50%);
    input {
      width: 100%;
      display: inline-block;
      border: solid 1px rgb(152, 152, 152);
      padding: 10px 20px;
      border-radius: 5px 0px 0px 5px;
    }
    button {
      display: inline-block;
      border: none;
      background-color: rgb(228, 140, 49);
      padding: 11px 20px;
      border-radius: 0px 5px 5px 0px;
    }
  }
}

.todo-list__todo {
  width: 50%;
  margin-top: 10px;
  transition: opacity 0.2s ease-out, height 0.2s ease-out, padding 0.2s ease-out;
  margin: 0 auto;
  padding: 20px 5px;
  height: auto;
  background-color: rgb(226, 226, 226);
  border: 1px solid rgb(236, 63, 111);
  overflow: hidden;
  opacity: 1;
  .todo-list__todo--text {
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'sans-serif';
    font-size: 16px;
  }
}
.todo-list__todo--initial-state {
  opacity: 0;
  padding: 0px;
  height: 0px;
}
