%btn-list__btn {
  list-style: none;
  border-radius: 5px;
  button {
    font-size: 16px;
    padding: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    background: none;
    border: 0px;    
    .material-icons {
      pointer-events: none;
      font-size: inherit;
    }
  }
}

.order-bar {
  width: 50%;
  min-width: 320px;
  position: absolute;
  bottom: 70px;
  .order-bar__btn-list {
    padding: 0px;
    display: flex;
    justify-content: center;
    .btn-list__btn {
      @extend %btn-list__btn;
      &--selected {
        @extend %btn-list__btn;
        background-color: white;
      }
    }
  }
}