%todo-default-style {
  box-sizing: border-box;
  background-color: rgb(255, 255, 255);
  border-radius: 0px 0px 5px 5px;
  border-top: 1px solid rgb(167, 167, 167);
}
%todo-text {
  margin: 0;
  padding: 0;
  color: #737373;
  font-size: 16px;
  font-family: inherit;
}
.todo {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  border-top: 1px solid rgb(167, 167, 167);
  opacity: 1;
  transition: opacity 0.1s ease-out, height 0.2s ease-out, padding 0.2s ease-out, transform .2s ease-out;
  padding: 18px 5px;
  overflow: hidden;
  width: 100%;
  height: auto;
  .todo__toggle-button {
      min-width: 50px;
      width: 50px;
      padding: 0px 10px;
      background: none;
      border: none;
      font-size: 26px;
      display: flex;
      align-items: center;
      justify-content: center;
      outline: none;
      .material-icons, .material-icons.unchecked {
        transition: opacity 100ms ease-out;
        opacity: 0.4;
      }
      .material-icons.checked {
        opacity: 1;
      }

  }
  @extend %todo-default-style;
  .todo__text {
    //width: 75%;
    flex-grow: 2;
    overflow: hidden;
    @extend %todo-text;
  }
  &:first-child {
    border-top: none;
  }
  &:last-child {
    border-radius: 0px 0px 5px 5px;
  }
  .todo__actions {
    visibility: hidden;
    display: flex;
    flex-wrap: nowrap;
    transition: all 218ms ease-in;
    opacity: 0;
    .todo__actions__button {
      padding: 0px 10px;
      background: none;
      border: none;
      margin-left: 5px;
      .material-icons{
        font-size: 22px;
        color: rgb(50, 50, 50);
      }
    }
  }
  &:hover {
    .todo__actions {
      transition: opacity 218ms ease-out;
      visibility: visible;
      opacity: 1;
    }
  }
  .todo__details {
      width: 100%;
      display: flex;
      justify-content: space-between;
      flex-wrap: nowrap;
      position: absolute;
      bottom: 0px;
      left: 0px;
      transform: translateY(110%);
  }
  .todo__detail {
    display: flex;
    flex-wrap: nowrap;
    padding-left: 5px;
    padding-right: 5px;
    z-index: 3;
    opacity: 1;
    .todo__detail__title {
      padding: 0px;
      margin: 0px;
      color: white;
      font-size: 11px;
      text-transform: uppercase;
    }
    .todo__detail__text {
      padding: 0px;
      margin: 0px;
      margin-left: 10px;
      color: white;
      font-size: 11px;
    }
  }

  %clear-textarea {
    background: none;
    border: none;
    outline: none;
  }

  .todo__textarea {
    width: 100%;
    @extend %clear-textarea;
    @extend %todo-text;
    resize: none;
    font-weight: bold;
    &:hover {
      @extend %clear-textarea;
    }
    &:focus {
      @extend %clear-textarea;
    }
  }
}
